.App {
  text-align: center;
}

.LoginBox {
  width: 300px;
  margin: 0 auto;
  padding: 50px;
}

input {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 12px;
}

button {
  width: 60%;
  margin: 0 auto;
}